* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-1: rgb(115, 101, 206);
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom right, skyblue, rgb(190, 237, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 45rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
}

.btn {
    width: 10rem;
    aspect-ratio: 1;
    font-size: 3rem;
    border: none;
    border-radius: 0.8rem;
    user-select: none;
    cursor: pointer;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.display-expression-area {
    width: calc(100% - 10rem);
    height: 10rem;
    color: rgb(100, 88, 88);
    background-color: white;
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    user-select: none;
    overflow-wrap: break-word;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#btn-calculate {
    color: white;
    background-color: green;
    border: 2px solid white;
    transition: all 200ms ease-in-out;
}

#btn-calculate:hover {
    color: green;
    background-color: white;
    border: 2px solid green;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#btn-clear,
#btn-backspace {
    width: 100%;
    height: 10rem;
    font-size: 3rem;
    color: white;
    background-color: red;
    border: none;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 0.8rem;
    user-select: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#btn-clear:hover,
#btn-backspace:hover {
    color: red;
    background-color: white;
    border: 2px solid red;
}

.section-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

[data-button-type="number"],
[data-button-type="decimal-point"],
[data-button-type="negate"] {
    color: var(--clr-1);
    background-color: white;
    border: 2px solid var(--clr-1);
    transition: all 200ms ease-in-out;
    font-weight: 600;
}

[data-button-type="number"]:hover,
[data-button-type="decimal-point"]:hover,
[data-button-type="negate"]:hover {
    color: white;
    background-color: skyblue;
    border: 2px solid white;
}

[data-button-type="operator"] {
    color: white;
    background-color: var(--clr-1);
    border: 2px solid white;
    transition: all 200ms ease-in-out;
}

[data-button-type="operator"]:hover {
    color: var(--clr-1);
    background-color: white;
    border: 2px solid var(--clr-1);
}
